@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family:Roboto, serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#f9faf8
}

ul{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1F2937;
    color:#f9faf8
}

.header-links ul{
    align-items:center;
    gap:20px;
    justify-content:center;
    display:flex;
    gap:15px;
}