@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family:Roboto, serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#f9faf8
}

ul{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1F2937;
    color:#f9faf8;
    padding: 2% 8% 0 8%;
}

.logo{
    font-size:30px;
    font-weight:900;
}

.header-links ul{
    align-items:center;
    gap:20px;
    justify-content:center;
    display:flex;
}

.hero {
    background-color: #1F2937;
    display:flex;
    align-items: center;
    gap:50px;
    justify-content: space-around;
    padding: 14% 8% 8% 8%;
}

.text-left{
    color: #f9faf8;
    gap: 8px;
    display:flex;
    flex-direction:column;
    flex:1;
}

.main{
    font-weight:900;
    font-size:48px;
}

.lower{
    color: #f9faf1ab;
    text-align:left;
}

.top-button{
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    align-self: baseline;
    margin-top: 15px;
}

.img-right{
    display: flex;
    color: white;
    text-align:center;
    background-color: gray;
    align-items: center;
    justify-content:center;
    height: auto;
    align-self: stretch;
    flex:1;
}

.information{
    font-size:36px;
    color:#1F2937;
    font-weight:900;
    margin:50px;
    text-align:center;
}

.body-blocks{
    display:flex;
    gap: 55px;
    justify-content: center;
}

.block{
    height: 130px;
    width: 130px;
    border: 4px solid #3882F6;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink:0;
    border-radius: 10px;
    max-width: max-content;
    margin-bottom: 130px;

}

.quotes{
    background-color: #E5E7EB;
    padding:130px 100px;
}

.quote{
    font-size: 36px;
    font-weight:300;
    color:#1F2937;
    font-style: italic;
    text-align:left;
    padding: 8% 8% 8% 8%;
}

.attribution{
    text-align:right;
    font-weight:bold;
    font-size:30px;
    margin-top:5px;
}

.box-text{
    text-align:center;
    margin-top: 140px;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.562);
}

.call-to-action{
    margin:130px;
    display:flex;
    height:230px;
    flex-basis:660px;
    background-color: white;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 10px;
}

.cta-box{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 50px;
    flex-basis: 660px;
}

.cta-header{
    color:#f9faf8;
    font-weight:600;
    font-size:26px;
}

.cta-sub{
    color:#f9faf8;
    font-weight:300;
}

.button-container{
    display:flex;
}

.cta-button{
    align-self:center;
    background-color: #3882F6;
    border:solid white;
    padding:10px 30px;
    border-radius: 10px;
    color:#f9faf8;
    margin:0 100px;
    cursor: pointer;
    flex-shrink:0;
}

.footer{
    background-color:#1F2937;
    padding: 15px;
    text-align:center;
    color:#f9faf8;
}